<div id="nav-d" class="navbar">
  <div class="nav--logo">
    <a href="index.html"
      ><img
        src="../src/assets/main/icons/icon__logo_wh.svg"
        alt="Rustica logo icon"
    /></a>
  </div>
  <div class="nav--logo-switch">
    <a href="index.html"></a>
  </div>
  <nav>
    <ul class="nav--links">
      <li><a href="./cafe.html">das Café</a></li>
      <li><a href=" ./herkunft.html">Herkunft </a></li>
      <li><a href="./shop.html">Shop</a></li>
      <li class="shop-icon">
        <a href="#">
          <img
            src="../src/assets/main/icons/icon__shop-wht.svg"
            alt="Shop icon"
        /></a>
      </li>
      <li><a href="./kontakt.html" color="red;">Kontakt</a></li>
    </ul>
  </nav>
</div>
