<div id="nav-d" class="navbar">
  <div class="nav--logo">
    <a href="index.html"
      ><img
        src="../src/assets/main/icons/icon__logo_wh.svg"
        alt="Rustica logo icon"
    /></a>
  </div>
  <div class="nav--logo-switch">
    <a href="index.html"></a>
  </div>
  <nav>
    <ul class="nav--links">
      <li><a href="./cafe.html">das Café</a></li>
      <li><a href=" ./herkunft.html">Herkunft </a></li>
      <li><a href="./shop.html">Shop</a></li>
      <li class="shop-icon">
        <a href="#">
          <img
            src="../src/assets/main/icons/icon__shop-wht.svg"
            alt="Shop icon"
        /></a>
      </li>
      <li><a href="./kontakt.html" color="red;">Kontakt</a></li>
    </ul>
  </nav>
</div>
<div id="nav--menu" class="nav--menu">
  <nav>
      <ul class="nav--links-m">
          <h3>
              <li class="h3"><a href="./cafe.html"">das Café</a></li>
      <li class=" h3"><a href="./herkunft.html">Herkunft</a></li>
              <li class="h3"><a href="./shop.html">Shop</a></li>
          </h3>
      </ul>
  </nav>
  <div id="menu-close" class="nav--menu-close">
      <img src="../src/assets/main/icons/icon__burger-menu-close.svg" alt="A white X">
  </div>
</div>
<div id="nav-m">
  <div id="nav-m-container" class="navbar-m">
      <div id="nav--logo-m" class="nav--logo-m">
          <a href="index.html">
              <img src="../src/assets/main/icons/icon__logo_wh.svg" alt="Rustica Logo">
          </a>
      </div>
      <div id="nav--burger" class="nav--burger">
          <a href="#">
              <img src="../src/assets/main/icons/icon__burger-menu-wht.svg" alt="Rustica Logo">
          </a>
      </div>
  </div>
</div>
