.main--section {
    margin: 60px 24px;
}

.section--info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.section--info-top {
    
    .section--img {
        text-align: right;
    }
}

.section--text-container {
    margin: 20px 0px;
}

.section--text {
    padding: 40px;
    background-color: lawngreen;
}



.section--info-container {
    display: flex;
    width: 48%;
}
