.main--section {
    padding: 1.8em 1.5em;
    display: inline-block;
}

.main--section-dark {
    display: inline-block;
    background-color: $color--anthrazit;
    color: $color--white;
    padding: 2.5em 1.5em;
}

.section--info {
    display: flex;
    flex-direction: column;
    margin: 1.25em 0;
}

.section--info-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1.25em 0;
}

.section--info-row {
    display: flex;
    justify-content: space-between;
    margin: 1.25em 0;
}
.section--head{
    font-size: 36px;
}

.section--img {
    margin: 1.5em 0;
    width: 85%;
}

.section--img-right {
    text-align: right;
    width: 85%;

}

.section--img-full {
    margin: 1.5em 0em 2em 0em;
    width: 100%;
}

.section--text-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

.section--text {
    padding: 40px;
    background-color: lawngreen;
}

.section--info-container {
    display: flex;
    width: 48%;
}
