.main--section {
    padding: 6rem 2.4rem;
    display: inline-block;

    p {
        margin-bottom: 1rem;
    }

    &-dark {
        display: inline-block;
        background-color: $color--anthrazit;
        color: $color--white;
        padding: 6rem 2.4rem;
    }
}

%section--info-ph {
    display: flex;
}

.section--info {
    flex-direction: column;
    @extend %section--info-ph;

    &-right {
        flex-direction: column;
        align-items: flex-end;
        @extend %section--info-ph;
    }

    &-row {
        justify-content: space-between;
        @extend %section--info-ph;
    }

    &-container {
        display: flex;
        width: 48%;
    }
}

.section--img {
    margin: 1.5em 0;
    width: 85%;

    &-right {
        margin: 1.5em 0;
        text-align: right;
        width: 85%;
    }

    &-full {
        margin: 1.5em 0em 2em 0em;
        width: 100%;
    }
}

.section--text-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 2rem 0;
}

.section--text {
    padding: 40px;
    background-color: lawngreen;
}