#nav-d {
  padding: 1rem 10rem;

  @include mq(media-xxl) {
    padding: $padding--nav_m-xxl;
  }
  @include mq(media-xl) {
    padding: $padding--nav_m-xl;
  }
  @include mq(media-lg) {
    padding: $padding--nav_m-lg;
  }

  @include mq-rv(media-md) {
    display: none; // switch desktop nav off
  }
}

.navbar {
  z-index: 901;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5.5rem;

  ul {
    list-style: none;
  }

  .nav--logo {
    height: -webkit-fill-available;
    div {
      height: 100%;
    }
    img {
      height: 100%;
    }
  }

  .nav--links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;

    .cart-icon {
      position:relative;
      left: -3.3rem;

      img {
        height: 2rem;
        width: auto;
      }
    }

    li {
      margin-top: 1rem;

      &:not(:last-of-type) {
        margin-right: 7rem;
      }

      a {
        text-decoration: none;

        &:after {
          // animation for line under nav--links
          background: none repeat scroll 0 0 transparent;
          content: "";
          display: block;
          height: 0.1rem;
          background: $color--white;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }

        &:hover:after {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  @include mq(media-xxl) {
    max-width: 220rem;
  }
}

.invertColor {
  filter: invert(100%);
}

.whiteBg {
  background-color: white;
}

// cart icon

.nav-icon {
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  position: absolute;
  top: -2.6rem;
  right: -.4rem;
  background: $color--petrol;
  border-radius: 50%;
  color: $color--white;
  font-size: 1rem;
}

/* --- mobile version --- */

#nav-m {
  display: none;

  width: 100%;
  height: 100%;

  @include mq-rv(media-md) {
      display: flex; // switch on mobile nav
  }
}

.navbar-m {
  padding: 1rem 2.4rem;
  z-index: 902;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5.5rem;

  ul {
      list-style: none;
  }

  .nav--logo-m {
      img {
          height: 100%;
      }
  }

  div {
      height: 100%;
  }

  @include mq(media-xxl) {
      max-width: 220rem;
  }

  @include mq(media-md) {
      padding: $padding--nav_m-md;
  }

  @include mq(media-sm) {
      padding: $padding--nav_m-sm;
  }
}

.nav--burger {
  padding: .8rem 0;

  img {
      height: 100%;
  }
}

.slideIn {
  left: 0;
}

.nav--menu {
  left: 100%;
  transition: $transition--main;

  position: fixed;
  background-color: black;
  z-index: 910;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

  &-close {
      padding: 2.4rem;
  }

  ul {
      list-style: none;
  }

  nav {
      margin: auto auto auto 6rem;
  }
}

.visible {
  left: 0;
}

