#nav-d {
    background-color: green; // for testing

    padding: 1rem 10rem;

    @include mq(media-xxl) {
        padding: $padding--nav_m-xxl;
    }
    @include mq(media-xl) {
        padding: $padding--nav_m-xl;
    }
    @include mq(media-lg) {
        padding: $padding--nav_m-lg;
    }
    
    @include mq-rv(media-md) {
        display: none; // switch mobile nav off
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5.5rem;

    ul {
        list-style: none;
    }

    .nav--logo {
        img {
            height: 100%;
        }
    }

    .nav--links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 100%;

        li {
            margin-top: 1rem;

            &:not(:last-of-type) {
                margin-right: 7rem;
            }

            a {
                text-decoration: none;

                &:after {
                    background: none repeat scroll 0 0 transparent;
                    content: "";
                    display: block;
                    height: .1rem;
                    background: $color--white;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                }

                &:hover:after {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }

    div {
        height: 100%;
    }

    @include mq(media-xxl) {
        max-width: 220rem;
    }
}