#nav-m {
    display: none;

    width: 100%;
    height: 100%;

    @include mq-rv(media-md) {
        display: flex; // switch on mobile nav
    }
}

.navbar-m {
    padding: 1rem 2.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5.5rem;

    ul {
        list-style: none;
    }

    .nav--logo-m {
        img {
            height: 100%;
        }
    }

    div {
        height: 100%;
    }

    @include mq(media-xxl) {
        max-width: 220rem;
    }

    @include mq(media-md) {
        padding: $padding--nav_m-md;
    }

    @include mq(media-sm) {
        padding: $padding--nav_m-sm;
    }
}

.nav--burger {
    padding: .8rem 0;

    img {
        height: 100%;
    }
}

.slideIn {
    left: 0;
}

.nav--menu {
    // for slide animation (JS)
    left: 100%;
    transition: left .5s linear;

    position: fixed;
    background-color: black;
    z-index: 900;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    &-close {
        padding: 2.4rem;
    }

    ul {
        list-style: none;
    }

    nav {
        margin: auto auto auto 6rem;
    }
}

.visible {
    left: 0;
}

.mynewclass {
    left: 0;;
  }

