#section--ort {
    padding: 0;
    margin: 0;
    height: 40vh;
    width: 100%;


    .section--head {
        margin: 0;
        padding:  0rem 1.5rem;
    }

    .background--container {
        margin-top: 2.18rem;
    }

    .background-img {
        width: 100%;
        height: auto;
    }
}