#section--herkunft {
    padding-top: 8.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../assets/main/images/FEND-Coffee-bags-2.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 33rem;
    min-height: 300px;
    background-size: cover;
    color: $color--white;

    .body-text {
        text-align: center;
        width: 70%;
    }

    .btn--dunkel {
        background: none;
        border: none;
    }
}