#cafe__section--gallery {
    margin: 0;
    padding-bottom: 4rem;
    width: auto;
    display: block;
}

.gallery--container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 105vh;
}

.gallery-img {
    width: 48%;
    height: auto;
    margin-bottom: 1rem;
}

.gallery--img-left {
    width: 48%;
    height: auto;
    margin-bottom: 1rem;
    margin-right: 1rem;
    ;
}