#section--sorten {
    text-align: center;

    .btn--dunkel {
        border: 3px solid $color--white;
    }

    .section--head {
        text-align: left;
        color: $color--white;

        @include mq(media-xl) {
            margin: 0;
            width: 35%;
        }
    }

    .icon-container img {
        height: 2rem;
        width: auto;
    }
}

