*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }


html {
  font-size: 10px; 
}


body {
  width: 100%;
  box-sizing: border-box;
  display: block;
  font-family: $font--font-family-body;
  font-style: $font--font-style-body;
  font-weight: $font--font-weight-body;
  font-size: $font--font-size-body;
}

img {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
}

p {
  line-height: 130%;
}

a {
  text-decoration: none;
  color: $color--link;

  a:link {
    color:$color--link;
  }
  
  a:visited {
    color: $color--link-visited;
  }
  
  a:hover {
    color: $color--link-hover;
  }
  
  a:active {
    color: $color--link-active;
  } 
}


