*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

body {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  font-family: $font--body-font-family;
  font-style: $font--body-font-style;
  font-weight: $font--body-font-weight;
  font-size: $font--body-font-size;
}

img {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
}

a {
  text-decoration: none;
  color: $color--link;

  a:link {
    color:$color--link;
  }
  
  a:visited {
    color: $color--link-visited;
  }
  
  a:hover {
    color: $color--link-hover;
  }
  
  a:active {
    color: $color--link-active;
  } 
}

h1 {
  font-size: $font--size-h1;
  color: $color--white;
  font-weight: $font--weight-h1;
}

h2 {
  font-size: $font--size-h2;
  font-weight: $font--weight-h2;
  margin: $font--margin-h2;
}

h3 {
  font-size: $font--font-size-h3;
}

h4 {
  font-size: $font--font-size-h4;
}

.subhead-m {
  font-size: $font--font-size-sh-m;
  font-weight: $font--font-weight-regular;
  margin: $font--margin-h2;
}

