

// Colors

$color--white: rgba(255,255,255,1);
$color--anthrazit: rgba(26,26,26,1);
$color--kraftpapier: rgba(215,190,157,1);
$color--petrol: rgba(0,109,126,1);
$color--rosa: rgba(237,209,201,1);
$color--orange: rgba(215,124,18,1);
$color--medium-grey: rgba(115,115,115,1);
$color--light-grey: rgba(233,233,233,1);

$color--btn-dunkel: rgb(26, 26, 26);
$color--btn-dunkel-hover: rgb(58, 55, 52);
$color--btn-dunkel-active: 215,190,157,1;


// Fonts

// h1
$font--size-h1: 64px;
$font--color-h1: $color--white;
$font--weight-h1: 900;
$font--padding-h1: 0.4em;



h1 {
    font-size: $font--size-h1;
    color: $color--white;
    font-weight: $font--weight-h1;
    padding: $font--padding-h1;
  }

/**

$font--size-h2:
$font--size-h3:
**/

